body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

nav {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-alt);
    position: fixed;
    top:0;
    left: 0;
}

nav .logo {
    font-family: var(--font-logo);
    font-size: var(--font-medium);  
    color: var(--primary-color);
}

section {
    width: 60%;
    height: 80vh;
    margin: 13vh  auto;
    box-shadow: var(--box-shadow-alt);
    display: flex;
}
.left-section {
    width: 50%;
    background-color: var(--primary-color);
    background-image: url("../Images/pattern.png");
    background-size: cover;
    background-blend-mode: overlay;
}
.right-section {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.right-section .text {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 30%;
}
.text .login-text {
    font-size: var(--font-large);
    color: var(--primary-color);
    font-family: var(--font-logo);
    margin-bottom: 40px;
}
.text .welcome-text {
    font-size: var(--font-medium);
    color: var(--black-alt);
    font-family: var(--font-primary);
}
form {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    width: 75%;
    padding: 10px 15px;
    font-size: var(--font-small);
    font-family: var(--font-primary);
    border: none;
    outline: none;
}
#uname,#pass, #cpass, #email{
    border: 2px solid var(--dark-grey);
    background-color: var(--white-alt);
    margin: 5px 0;
}
#uname:focus, #pass:focus, #cpass:focus, #email:focus {
    border: 2px solid var(--primary-color);
}
#email {
     margin-bottom: 30px;
}
#submit-btn {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 15px;
    font-family: var(--font-logo);
    cursor: pointer;
    transition: 0.3s;
    border:2px solid var(--primary-color);
}
#submit-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}
.status {
    font-size: var(--font-small);
    font-family: var(--font-primary);
    color: var(--success-color);    
    margin:0 0 15px 0;
}
.suggestion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-small);
    font-family: var(--font-primary);
    height: 10%;
}
.suggestion a{
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}
.suggestion a:hover{
    color: var(--primary-color);
}